
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- inner banner -->
<div class="inner-banner">
    <div class="w3l-breadcrumb">
        <div class="container">
            <h4 class="inner-text-title font-weight-bold text-white mb-sm-3 mb-2">Menümüz</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="/Home">Ana Sayfa</a></li>
                <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Menu</li>
            </ul>
        </div>
    </div>
</div>
<!-- //inner banner -->
<!-- menu -->
<div class="menu-w3ls py-5" id="menu">
    <div class="container py-md-5 py-4">
        <h3 class="title-big mb-2">Kahvaltı</h3>
        <div class="row menu-body">
            <!-- Section starts: Breakfast -->
            <div class="col-lg-6 menu-section">
                <!-- Item starts -->
                <div class="menu-item">
                    <div class="row no-gutters">
                        <div class="col-9 menu-item-name">
                            <h6>Tomato Toast “Ricotta”</h6>
                        </div>
                        <div class="col-3 menu-item-price text-right">
                            <h6>$36</h6>
                        </div>
                    </div>
                    <div class="menu-item-description">
                        <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                    </div>
                </div>
                <!-- Item ends -->
                <!-- Item starts -->
                <div class="menu-item">
                    <div class="row no-gutters">
                        <div class="col-9 menu-item-name">
                            <h6>Avocado Toast with Egg</h6>
                        </div>
                        <div class="col-3 menu-item-price text-right">
                            <h6>$28</h6>
                        </div>
                    </div>
                    <div class="menu-item-description">
                        <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                    </div>
                </div>
                <!-- Item ends -->
                <!-- Item starts -->
                <div class="menu-item">
                    <div class="row no-gutters">
                        <div class="col-9 menu-item-name">
                            <h6>Nut, Banana & Seed Toast</h6>
                        </div>
                        <div class="col-3 menu-item-price text-right">
                            <h6>$18</h6>
                        </div>
                    </div>
                    <div class="menu-item-description">
                        <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                    </div>
                </div>
                <!-- Item ends -->
                <!-- Item starts -->
                <div class="menu-item">
                    <div class="row no-gutters">
                        <div class="col-9 menu-item-name">
                            <h6>Berry & Yogurt Smoothie</h6>
                        </div>
                        <div class="col-3 menu-item-price text-right">
                            <h6>$76</h6>
                        </div>
                    </div>
                    <div class="menu-item-description">
                        <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                    </div>
                </div>
                <!-- Item ends -->
            </div>
            <!-- Section ends: Breakfast -->
            <!-- Section starts: Breakfast -->
            <div class="col-lg-6 menu-section pl-lg-5">
                <!-- Item starts -->
                <div class="menu-item">
                    <div class="row no-gutters">
                        <div class="col-9 menu-item-name">
                            <h6>Berry Breakfast Parfait</h6>
                        </div>
                        <div class="col-3 menu-item-price text-right">
                            <h6>$13</h6>
                        </div>
                    </div>
                    <div class="menu-item-description">
                        <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                    </div>
                </div>
                <!-- Item ends -->
                <!-- Item starts -->
                <div class="menu-item">
                    <div class="row no-gutters">
                        <div class="col-9 menu-item-name">
                            <h6>Peanut Butter & Banana</h6>
                        </div>
                        <div class="col-3 menu-item-price text-right">
                            <h6>$32</h6>
                        </div>
                    </div>
                    <div class="menu-item-description">
                        <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                    </div>
                </div>
                <!-- Item ends -->
                <!-- Item starts -->
                <div class="menu-item">
                    <div class="row no-gutters">
                        <div class="col-9 menu-item-name">
                            <h6>Quinoa Fruit Salad</h6>
                        </div>
                        <div class="col-3 menu-item-price text-right">
                            <h6>$76</h6>
                        </div>
                    </div>
                    <div class="menu-item-description">
                        <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                    </div>
                </div>
                <!-- Item ends -->
                <!-- Item starts -->
                <div class="menu-item">
                    <div class="row no-gutters">
                        <div class="col-9 menu-item-name">
                            <h6>Pumpkin Yogurt Parfait</h6>
                        </div>
                        <div class="col-3 menu-item-price text-right">
                            <h6>$26</h6>
                        </div>
                    </div>
                    <div class="menu-item-description">
                        <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                    </div>
                </div>
                <!-- Item ends -->
            </div>
            <!-- Section ends: Breakfast -->
        </div>

        <div class="another-sec">
            <h3 class="title-big mb-2">Öğle Yemeği</h3>
            <div class="row menu-body">
                <!-- Section starts: Lunch -->
                <div class="col-lg-6 menu-section pr-lg-5">
                    <!-- Item starts -->
                    <div class="menu-item">
                        <div class="row no-gutters">
                            <div class="col-9 menu-item-name">
                                <h6>Grilled Lamb & Feta Pita</h6>
                            </div>
                            <div class="col-3 menu-item-price text-right">
                                <h6>$63</h6>
                            </div>
                        </div>
                        <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                        </div>
                    </div>
                    <!-- Item ends -->
                    <!-- Item starts -->
                    <div class="menu-item">
                        <div class="row no-gutters">
                            <div class="col-9 menu-item-name">
                                <h6>The Ultimate Veggie</h6>
                            </div>
                            <div class="col-3 menu-item-price text-right">
                                <h6>$36</h6>
                            </div>
                        </div>
                        <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                        </div>
                    </div>
                    <!-- Item ends -->
                    <!-- Item starts -->
                    <div class="menu-item">
                        <div class="row no-gutters">
                            <div class="col-9 menu-item-name">
                                <h6>Chicken Salad Lunch Box</h6>
                            </div>
                            <div class="col-3 menu-item-price text-right">
                                <h6>$23</h6>
                            </div>
                        </div>
                        <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                        </div>
                    </div>
                    <!-- Item ends -->
                </div>
                <!-- Section ends: Lunch -->
                <!-- Section starts: Lunch -->
                <div class="col-lg-6 menu-section pl-lg-5">
                    <!-- Item starts -->
                    <div class="menu-item">
                        <div class="row no-gutters">
                            <div class="col-9 menu-item-name">
                                <h6>Coriander Chicken and Rice</h6>
                            </div>
                            <div class="col-3 menu-item-price text-right">
                                <h6>$46</h6>
                            </div>
                        </div>
                        <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                        </div>
                    </div>
                    <!-- Item ends -->
                    <!-- Item starts -->
                    <div class="menu-item">
                        <div class="row no-gutters">
                            <div class="col-9 menu-item-name">
                                <h6>The plate of barbeque</h6>
                            </div>
                            <div class="col-3 menu-item-price text-right">
                                <h6>$26</h6>
                            </div>
                        </div>
                        <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                        </div>
                    </div>
                    <!-- Item ends -->
                    <!-- Item starts -->
                    <div class="menu-item">
                        <div class="row no-gutters">
                            <div class="col-9 menu-item-name">
                                <h6>Chicken grill with sauce</h6>
                            </div>
                            <div class="col-3 menu-item-price text-right">
                                <h6>$67</h6>
                            </div>
                        </div>
                        <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                        </div>
                    </div>
                    <!-- Item ends -->
                </div>
                <!-- Section ends: Lunch -->
            </div>
        </div>

        <div class="another-sec">
            <h3 class="title-big mb-2">Akşam Yemeği</h3>
            <div class="row menu-body">
                <!-- Section starts: Dinner -->
                <div class="col-lg-6 menu-section pr-lg-5">
                    <!-- Item starts -->
                    <div class="menu-item">
                        <div class="row no-gutters">
                            <div class="col-9 menu-item-name">
                                <h6>The Ultimate Veggie</h6>
                            </div>
                            <div class="col-3 menu-item-price text-right">
                                <h6>$52</h6>
                            </div>
                        </div>
                        <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                        </div>
                    </div>
                    <!-- Item ends -->
                    <!-- Item starts -->
                    <div class="menu-item">
                        <div class="row no-gutters">
                            <div class="col-9 menu-item-name">
                                <h6>Chicken grill with sauce</h6>
                            </div>
                            <div class="col-3 menu-item-price text-right">
                                <h6>$46</h6>
                            </div>
                        </div>
                        <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                        </div>
                    </div>
                    <!-- Item ends -->
                    <!-- Item starts -->
                    <div class="menu-item">
                        <div class="row no-gutters">
                            <div class="col-9 menu-item-name">
                                <h6>Quinoa Fruit Salad</h6>
                            </div>
                            <div class="col-3 menu-item-price text-right">
                                <h6>$56</h6>
                            </div>
                        </div>
                        <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                        </div>
                    </div>
                    <!-- Item ends -->
                </div>
                <!-- Section ends: Dinner -->
                <!-- Section starts: Dinner -->
                <div class="col-lg-6 menu-section pl-lg-5">
                    <!-- Item starts -->
                    <div class="menu-item">
                        <div class="row no-gutters">
                            <div class="col-9 menu-item-name">
                                <h6>Avocado Toast with Egg</h6>
                            </div>
                            <div class="col-3 menu-item-price text-right">
                                <h6>$26</h6>
                            </div>
                        </div>
                        <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                        </div>
                    </div>
                    <!-- Item ends -->
                    <!-- Item starts -->
                    <div class="menu-item">
                        <div class="row no-gutters">
                            <div class="col-9 menu-item-name">
                                <h6>Tomato Toast Ricotta</h6>
                            </div>
                            <div class="col-3 menu-item-price text-right">
                                <h6>$26</h6>
                            </div>
                        </div>
                        <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                        </div>
                    </div>
                    <!-- Item ends -->
                    <!-- Item starts -->
                    <div class="menu-item">
                        <div class="row no-gutters">
                            <div class="col-9 menu-item-name">
                                <h6>Grilled Lamb & Feta Pita</h6>
                            </div>
                            <div class="col-3 menu-item-price text-right">
                                <h6>$72</h6>
                            </div>
                        </div>
                        <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetur tredjh adipiscing elit.</p>
                        </div>
                    </div>
                    <!-- Item ends -->
                </div>
                <!-- Section ends: Dinner -->
            </div>
        </div>
    </div>
</div>
<!-- //menu -->

