@model Bistros.Core.Application.Dtos.FoodDtos.CreateFoodDto
@{
    ViewData["Title"] = "CreateFood";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Ürün Ekleme</h1>

<hr />
<div class="card-body">
    <div class="form-validation">
        <form class="form-valide" method="post">
            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="val-email">
                    Ürüm Adı <span class="text-danger">*</span>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" asp-for="FoodName" >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="val-currency">
                    Açıklama <span class="text-danger">*</span>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" asp-for="FoodDescription" >
                </div>
            </div> 
            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="val-currency">
                    Kategori <span class="text-danger">*</span>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" asp-for="CategoryId" >
                </div>
            </div>            
            <div class="form-group row">
                <div class="col-lg-8 ml-auto">
                    <button class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>

