<section class="w3l-homeblock7 py-5">
    <div class="container py-lg-5 py-md-3">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="pr-5">
                    <h3 class="title-big">Özel Lezzetler</h3>
                    <p class="mt-4">
                        Harika tatlarla dolu özel yemeklerimizi deneyin. Damak çatlatan lezzetler sizi bekliyor!
                    </p>
                </div>
                <div class="pr-5 mt-lg-5 mt-4 sec-bor">
                    <h3 class="title-big pt-lg-5 pt-4">Taze Deniz Ürünleri</h3>
                    <p class="mt-4">
                        Denizden sofranıza gelen taze ve nefis balıklarla unutulmaz bir deneyim yaşayın.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-8 image-styling-sec mt-lg-0 mt-5">
                <img src="~/Bistros-Starter/assets/images/image2.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-5 text-lg-right">
                <div class="pl-lg-5">
                    <h3 class="title-big">Sezonun En İyisi</h3>
                    <p class="mt-4">
                        Mevsimin en taze sebzeleri ve meyveleriyle hazırlanan yemeklerimiz her daim en iyiyi sunar.
                    </p>
                </div>
                <div class="pl-lg-5 mt-lg-5 mt-4 sec-bor">
                    <h3 class="title-big pt-lg-5 pt-4">Tatlı Anlar</h3>
                    <p class="mt-4">
                        Tatlı krizlerinizi özel tatlılarımızla tatlandırın. Her ısırık mutluluğunuz olsun!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
